@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.logo {
  font-family: "Dancing Script", cursive;
}
